.mainWrapper {
}

.mainContainer {
  background-color: var(--primary-colors-green);
  padding: 2rem 1rem;
}

.flexbox {
  display: flex;
  justify-content: space-around;
}

.leftContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* width: 20rem; */
}

.rightContent {
  position: relative;
  width: 20rem;
}

/* left content */
.title {
  font-family: "Markazi Text";
  font-size: 4rem;
  color: var(--primary-colors-yellow);
  opacity: 0.7;
  line-height: 1;
}

.subtitle {
  font-family: "Markazi Text";
  font-size: 2rem;
  color: var(--secondary-colors-lightblue);
  line-height: 0.5;
}

.description {
  width: 10rem;
  font-family: "Markazi Text";
  line-height: 1;
  font-size: 1rem;
  font-weight: 400;
  color: var(--secondary-colors-lightblue);
  padding: 2rem 0rem 1rem 0rem;
}

/* right-content */
.reserveBtn {
  width: 8rem;
  padding: 0.5rem 1rem;
  font-family: "Markazi Text";
  font-weight: 500;
  /* justify-self: center; */
  /* justify-items: center; */
  justify-content: center;
  background-color: var(--primary-colors-yellow);
  border-radius: 0.375rem;
}

.displayImage {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.375rem;
}
