:root {
  font-family: "Markazi Text", serif;
  font-family: "Karla", sans-serif;

  /* primary color */
  --primary-colors-green: #495e57;
  --primary-colors-yellow: #f4ce14;

  /* secondary color */
  --secondary-colors-orange: #ee9972;
  --secondary-colors-lightorange: #fbdabb;
  --secondary-colors-lightblue: #edefee;
  --secondary-colors-black: #333333;
}
